[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "libevent"]
	path = libevent
	url = https://github.com/libevent/libevent.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "xz"]
	path = xz
	url = https://git.tukaani.org/xz.git
    shallow = false
[submodule "tor"]
	path = tor
	url = https://github.com/torproject/tor.git
